<launch>

    <node name="goal_manager_node" 
        pkg="fred_goal_manager" 
        type="goal_manager.py"
        output="screen"
        >
        
    </node>

     <node name="cone_manager" 
        pkg="fred_goal_manager" 
        type="goal_cone_manager.py"
        output="screen"
        >
        
    </node>
   
          
</launch>