<launch>

    <node name="goal_cone_reached" 
        pkg="fred_goal_manager" 
        type="goal_cone_reached.py"
        output="screen"
        >
        
    </node>

    <node name="goal_provider_node" 
        pkg="fred_goal_manager" 
        type="goal_provider.py"
        output="screen"
        >
        
    </node>

   

    <node name="goal_reached_monitor" 
        pkg="fred_goal_manager" 
        type="goal_reached.py"
        output="screen"
        >
        
    </node>
   
          
</launch>